<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modals</title>
    
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>

<div class="wrapper">
    <div class="modal active">
        <div class="modal__popup">
            <a href="#" class="modal__close">X</a>

            <div class="modal__title">Оплата кредитного рейтинга</div>

            <div class="modal__icon">
                <img src="../assets/img/icons/wallet.svg" alt="wallet">
            </div>

            <input type="text" value="2 000  ₽" class="modal__input">

            <a href="#" class="button">Оплатить 2 000 ₽</a>
        </div>
    </div>

    <div class="modal active">
        <div class="modal__popup">
            <a href="#" class="modal__close">X</a>

            <div class="modal__title">Продление займа</div>

            <div class="modal__subtitle">
                ООО “МКК Готовое решение”
                РФ, 111111, г. Москва, ул. Московская, д.1, офис 1
                ОГРН: 1111111111111
            </div>

            <input type="text" value="565  ₽" class="modal__input">

            <a href="#" class="button">Оплатить 565  ₽</a>
        </div>
    </div>



    <div class="modal phone active">
        <div class="modal__popup">
            <a href="#" class="modal__close">X</a>
  
            <div class="modal__title">Подтвердите!</div>
    
            <div class="modal__subtitle">
                Введите код, отправленный на номер: <b>+7 (999) 999-99-99</b>
            </div>
    

            <input type="text" placeholder="0000" class="modal__input short"></input>

            <div class="modal__resend">Повторный запрос через <span>300 сек</span></div>

            <a href="#" class="button wide">Подписать</a>

            <ul class="modal__terms">
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен с <a href="#">Договором займа</a></label>
                </li>
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен на <a href="#">применение рекурентных платежей</a></label>
                </li>
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен с <a href="#">условиями страхования</a></label>
                </li>
            </ul>
        </div>
    </div>


    <div class="modal phone active">
        <div class="modal__popup">
            <a href="#" class="modal__close">X</a>
  
            <div class="modal__title">Подтвердите!</div>
    
            <div class="modal__subtitle">
                Введите код, отправленный на номер: <b>+7 (999) 999-99-99</b>
            </div>
    

            <input type="text" placeholder="0000" class="modal__input short"></input>

            <div class="modal__resend"><a href="#">Отправить ещё раз</a></div>

            <a href="#" class="button wide">Подписать</a>

            <ul class="modal__terms">
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен с <a href="#">Договором займа</a></label>
                </li>
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен на <a href="#">применение рекурентных платежей</a></label>
                </li>
                <li>
                    <input type="checkbox" name="modal1">
                    <label for="modal1">Согласен с <a href="#">условиями страхования</a></label>
                </li>
            </ul>
        </div>
    </div>
    
</div>

<script>
    /*
    let modalClose = document.querySelectorAll('.modal__close');
    modalClose.forEach((item) => {
        item.addEventListener('click', (e) => {
            item.parentElement.parentElement.classList.remove('active')
        })
    })

    let modalInput = document.querySelectorAll('.modal__input.short');

    modalInput.forEach((item) => {
        item.setAttribute('size',item.getAttribute('placeholder').length);
    })
    
    */
</script>

<script src="../assets/js/main.js"></script>
</body>
</html>











