<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile-Edit</title>
    
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>

<div class="wrapper">

<div class="profile">
    <!--Sidebar-->
    <div class="sidebar">
        
        <div class="sidebar__loan">
            <div class="sidebar__loan-sum">
                <span class="sidebar__loan-title">Сумма платёжа:</span>
                <span class="sidebar__loan-value">5 000 ₽</span>
            </div>

            <a href="#" class="button wide">Продлить</a>

            <a href="#" class="sidebar__loan-close">Закрыть заем</a>
        </div>
    </div>
    <!--Sidebar end-->

    <div class="page-content">
        <!--Header-->
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <a href="#" class="logo">
                        <img src="../assets/img/logo-white.svg" alt="logo">
                    </a>
                    <ul class="header__menu">
                        <li>
                            <a href="#">Займы</a>
                        </li>
                        <li class="active">
                            <a href="#">Анкета</a>
                        </li>
                        <li>
                            <a href="#">Кредитный рейтинг</a>
                        </li>
                    </ul>
            
                    <div class="header__account">
                        <a href="#" class="header__account-name">Василий Ковалёв</a>

                        <a href="#" class="header__account-logout">
                            <!--<img src="../assets/img/icons/logout.svg" alt="logout">-->
                            <svg width="100%" height="100%" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1104_918)">
                                <path d="M19.3745 9.37533H11.458C11.113 9.37533 10.833 9.09534 10.833 8.75035C10.833 8.40536 11.113 8.12537 11.458 8.12537H19.3745C19.7195 8.12537 19.9994 8.40536 19.9994 8.75035C19.9994 9.09534 19.7195 9.37533 19.3745 9.37533Z"/>
                                <path d="M16.2498 12.5013C16.0898 12.5013 15.9299 12.4404 15.8081 12.318C15.564 12.0737 15.564 11.6779 15.8081 11.4338L18.4914 8.75061L15.8081 6.06728C15.564 5.82315 15.564 5.42735 15.8081 5.18321C16.0524 4.93893 16.4482 4.93893 16.6923 5.18321L19.8172 8.30812C20.0614 8.55225 20.0614 8.94805 19.8172 9.19218L16.6923 12.3171C16.5698 12.4404 16.4099 12.5013 16.2498 12.5013Z"/>
                                <path d="M6.66651 19.9994C6.48814 19.9994 6.31892 19.9744 6.14986 19.9219L1.13491 18.2511C0.452562 18.0127 0 17.3769 0 16.6662V1.66667C0 0.747505 0.747505 0 1.66667 0C1.84488 0 2.0141 0.0250237 2.18331 0.0775123L7.19811 1.7483C7.88061 1.98663 8.33302 2.62245 8.33302 3.33318V18.3327C8.33302 19.2519 7.58567 19.9994 6.66651 19.9994ZM1.66667 1.24996C1.43749 1.24996 1.24996 1.43749 1.24996 1.66667V16.6662C1.24996 16.8437 1.36913 17.0086 1.53911 17.0678L6.53056 18.7311C6.56641 18.7427 6.6131 18.7494 6.66651 18.7494C6.89569 18.7494 7.08306 18.5619 7.08306 18.3327V3.33318C7.08306 3.15572 6.96389 2.99078 6.79392 2.93158L1.80246 1.26827C1.76661 1.25667 1.71992 1.24996 1.66667 1.24996Z"/>
                                <path d="M12.7082 6.66712C12.3632 6.66712 12.0832 6.38713 12.0832 6.04214V2.29226C12.0832 1.71809 11.6158 1.25057 11.0417 1.25057H1.66697C1.32198 1.25057 1.04199 0.970581 1.04199 0.625591C1.04199 0.2806 1.32198 0.000610352 1.66697 0.000610352H11.0417C12.3058 0.000610352 13.3332 1.02811 13.3332 2.29226V6.04214C13.3332 6.38713 13.0532 6.66712 12.7082 6.66712Z"/>
                                <path d="M11.0413 17.4985H7.70799C7.363 17.4985 7.08301 17.2186 7.08301 16.8736C7.08301 16.5286 7.363 16.2486 7.70799 16.2486H11.0413C11.6155 16.2486 12.0828 15.7811 12.0828 15.2069V11.457C12.0828 11.112 12.3628 10.832 12.7078 10.832C13.0528 10.832 13.3328 11.112 13.3328 11.457V15.2069C13.3328 16.471 12.3055 17.4985 11.0413 17.4985Z"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1104_918">
                                <rect width="100%" height="100%" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            
        </header>
        <!--Header End-->


        <!--Содержимое страницы-->
        <div class="profile-edit">
            <div class="container">
                <div class="profile__content">
                    <section class="profile__section">
                        <h3>Анкета</h3>

                        <ul class="profile-edit__list">
                            <li class="profile-edit__item green">
                                <a href="#" class="profile-edit__item-link">
                                    <span class="profile-edit__item-title">Паспортные данные</span>

                                    <span class="profile-edit__item-completeness">заполнено на&nbsp;</span>

                                    <span class="profile-edit__item-percent"> 100%</span>

                                    <img src="../assets/img/icons/arrow-next.svg" alt="icon">
                                </a>
                            </li>

                            <li class="profile-edit__item green">
                                <a href="#" class="profile-edit__item-link">
                                    <span class="profile-edit__item-title">Информация о заработке</span>

                                    <span class="profile-edit__item-completeness">заполнено на&nbsp;</span>

                                    <span class="profile-edit__item-percent"> 100%</span>

                                    <img src="../assets/img/icons/arrow-next.svg" alt="icon">
                                </a>
                            </li>

                            <li class="profile-edit__item orange">
                                <a href="#" class="profile-edit__item-link">
                                    <span class="profile-edit__item-title">Контактные лица</span>

                                    <span class="profile-edit__item-completeness">заполнено на&nbsp;</span>

                                    <span class="profile-edit__item-percent"> 70%</span>

                                    <img src="../assets/img/icons/arrow-next.svg" alt="icon">
                                </a>
                            </li>

                            <li class="profile-edit__item red">
                                <a href="#" class="profile-edit__item-link">
                                    <span class="profile-edit__item-title">Фотография</span>

                                    <span class="profile-edit__item-completeness">заполнено на&nbsp;</span>

                                    <span class="profile-edit__item-percent"> 0%</span>

                                    <img src="../assets/img/icons/arrow-next.svg" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </section>

                </div>


            </div>



        </div>
        <!--Конец содержимого страницы-->
    </div>
</div>

</div>

<script src="../assets/js/main.js"></script>
</body>
</html>