.button {
    background: #313131;
    border-radius: 7px;
    color: #fff;
    padding: 23px 12px;
    min-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.32px;
    font-size: 18px;
}