.header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.header__menu {
    display: flex;
}

.header__menu li {
    margin-right: 34px;

    &:last-child {
        margin-right: 0;
    }

    &.active a{
        color: $orange;
        padding-bottom: 4px;
        border-bottom: 2px solid $orange;
    }
}


.header__account {
    display: flex;
    align-items: center;
}
.header__account-name {
    margin-right: 32px;
    font-size: 20px;
    color: $orange;

}
.header__account-logout {
    display: flex;
    align-items: center;
    justify-content: center;
}