.loan {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.loan__item {
    margin-bottom: 30px;
    //position: relative;

   &:last-child {
       margin-bottom: 0;
   }
}
.loan__item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.loan__item.open {

    .loan__item-wrapper {
        border-color: $green;
    } 
    .loan__time {
        background-color: $green;
    }
    .loan__status-title span{
        color: $green;
    }
    .loan__value {
        color: $green;
    }
    .loan__button {
        background-color: $green;
    }
}
.loan__item.overdue {
    .loan__item-wrapper {
        border-color: $orange;
    } 
    .loan__time {
        background-color: $orange;
    }
    .loan__status-title span{
        color: $orange;
    }
    .loan__value {
        color: $orange;
    }
    .loan__button {
        background-color: $orange;
    }
}

.loan__item-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    border: 1px solid $lightgray;
    overflow: hidden;
}
.loan__time {
    background-color: $lightgray;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    width: 210px;
}
.loan__time span{
    font-size: 18px;
}
.loan__time-value {
    font-weight: 700;
    font-size: 48px;
    white-space: nowrap;
}
.loan__content {
    display: flex;
    padding: 27px;
    width: 75%;
}
.loan__status {
    margin-right: auto;
}
.loan__status-number {
    font-size: 18px;
}
.loan__status-title {
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid $lightgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.loan__value {
    font-weight: 700;
    font-size: 48px;
    text-align: right;
    white-space: nowrap;
}
.loan__button {
    display: none;

    width: 100%;
    background-color: $lightgray;
    color: #fff;
    padding: 23px 12px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.loan__detail {
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #FFF;
    z-index: 10000;
    padding: 0 40px 70px;
    transition: top 0.3s ease-out;


}
.loan__detail.active {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;

}

.loan__detail .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loan-detail-buttons {
    display: flex;
}
.loan__detail-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
}
.loan__detail-status {
    background: $green;
    border-radius: 7px;
    color: #fff;
    padding: 7px 38px;
}
.loan__detail-head {
    margin-bottom: 30px;

    .row {
        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.loan__detail h2 {
    font-weight: 700;
    font-size: 35px;
}
.loan__detail h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.loan-detail-price {
    font-size: 27px;
}

.loan-detail-buttons .button {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}


.loan__detail-info .row {
    margin-bottom: 8px;


}
.loan__detail {
    padding-bottom: 100px;
    .title {
        color: $lightgray;
    }
    .value {
        font-size: 18px;
    }
}

.loan__detail-payments {
    margin-bottom: 30px;

    .loan__detail-payments-columns {
        display: flex;
        justify-content: space-between;

        .column {
            width: 21%;
            display: flex;
            flex-direction: column;
        }
    }

    .value {
        font-size: 20px;
    }
}

.loan__detail-documents {
    ul {
        display: flex;
        flex-direction: column;

        li {
            margin-bottom: 12px;
            a {
            
                color: $lightgray;
                text-decoration: underline;
                position: relative;
                margin-left: 1.5em;
        
                &::before {
                    content: '';
                    height: 1em;
                    width: 1em;
                    background-image: url(../img/icons/pdf.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -1.5em;
                    top: 0;
                }
            }
        } 
    }

}

@media (max-width: 768px) {
    .loan__item-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .loan__time {
        width: 100%;
        height: 105px;
        align-items: flex-start;
    }
    .loan__content {
        width: 100%;
        padding: 25px;
        flex-direction: column;
        align-items: center;
    }
    .loan__status {
        width: 100%;
    }
    .loan__value {
        align-self: flex-start;
    }
    .loan__button {
        display: flex;
        margin-top: 20px;
    }

    .loan__detail {
        padding: 0 30px;


        .value {
            font-size: 16px;
        }
    }
    .loan__detail.active {

        border-radius:  20px 20px 0 0;

    
    }
    .loan__detail h2 {
        font-size: 26px;
    }
    .loan__detail h3 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .loan__detail-status {
        padding: 5px 7px;
    }
    .loan-detail-price {
        font-size: 18px;
    }
    .loan-detail-date {
        font-size: 14px;
        margin-left: 42px;
    }
    .loan__detail-head .row:nth-child(2) {
        justify-content: flex-start;
    }
    .loan__detail-info {
        margin-bottom: 30px;
    }
    .loan-detail-buttons {
        justify-content: space-between;

        .button {
            padding: 16px 26px;
            min-width: 0;
            margin-right: 0;
        }
    } 
    .loan__detail-close {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 50%;
            height: 4px;
            background-color: $lightgray;
            opacity: 0.5;
            border-radius: 15px;
        }
    }
    .loan__detail-payments .loan__detail-payments-columns {
        justify-content: flex-start;
        flex-direction: column;

        .column {
            width: 100%;
            margin-bottom: 18px;

            .title {
                font-size: 14px;
            }
        }
    }
}

