.profile {
    position: relative;
    height: 100%;
    overflow: auto;
    display: flex;
}

.profile-edit {
    grid-area: 2 / 4 / 12 / 12;
}

.profile .header {
    grid-area: 1 / 4 / 2 / 12;
}


.profile__content {
    width: 100%;
}

.profile__section h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}









.profile-edit__item {
    
    background-color: rgba(187,185,185, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 26px;
    }

    &.green::before {
        background-color: #99C143;
    }
    &.orange::before {
        background-color: $orange;
    }
    &.red::before {
        background-color: #BB0202;
    }
}

.profile-edit__item::before {

}

.profile-edit__item a {
    padding: 24px 50px 24px 60px;
    display: flex;
    align-items: center;

}


.profile-edit__item-link img{
    margin-left: 48px;
}

.profile-edit__item-title {
    font-size: 18px;
}
.profile-edit__item-completeness {
    margin-left: auto;
    font-size: 16px;
}
.profile .progress {
    width: 80%;
}


@media (max-width: 1500px) {
    .profile .progress {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .profile {
        overflow: auto;
        flex-direction: column;
    }
    .profile .page-content{
        overflow: initial;
    }
    .profile .header {
        grid-area: 1 / 1 / 2 / 12;
        background: transparent;

        position: absolute;
        top: 0;
    }

    .profile-edit {
        grid-area: 7 / 1 / 12 / 12;
    }
    .profile__content {
        margin-bottom: 40px;
    }
    .profile__section h3 {
        font-size: 22px;
        margin-top: 14px;
        margin-bottom: 20px;
    }

    .profile-edit__item {
        
    }
    .profile-edit__item a {
        padding: 24px;
    }
    .profile-edit__item::before {
        width: 8px; 
    }
    .profile-edit__item-completeness {
        display: none;
    }

    .profile-edit__item-percent {
        margin-left: auto;
        margin-right: 16px;
    }
    .profile-edit__item-link img {
        margin-left: 0;
    }
}