.sidebar {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 45px;

    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.sidebar__loan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar__loan-sum {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 100%;

    display: flex;
    flex-direction: column;

}
.sidebar__loan-title{
    font-size: 18px;
}
.sidebar__loan-value {
    font-weight: 700;
    font-size: 36px;
}

.sidebar__loan-close {
    margin-top: 15px;
    text-decoration-line: underline;
}
.sidebar__vip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.sidebar__vip img {
    margin-bottom: 18px;
}
.sidebar__vip span {
    font-weight: 700;
    font-size: 24px;
}
.sidebar__nav-mobile {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sidebar__no-loan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    img {
        width: 80px;
        margin-bottom: 26px;
    }

    span {
        font-weight: 700;
        font-size: 24px;
    }
}

@media (max-width: 1110px) {
    .sidebar {
        padding: 30px;
        width: 42%;
    }
}
@media (max-width: 768px) {
    .sidebar {
        grid-area: 1 / 1 / 7 / 12;
        padding: 90px 32px 50px;
        width: 100%;

    }
    .sidebar__no-loan {
        margin-bottom: 20px;
        img {
            width: 61px;
            margin-bottom: 20px;
        }
    
        span {
            font-weight: 400;
            font-size: 20px;
        }
    }
    .sidebar .logo {
        display: none;
    }
    .sidebar__nav-mobile {
        display: flex;
        justify-content: center;
        
    }
    .sidebar__nav-mobile li{
        padding: 8px 16.5px;
        border-radius: 7px 7px 0px 0px;
        white-space: nowrap;

    }
    .sidebar__nav-mobile li.active{
        background: #FFFFFF;
        color: $orange;
    }
    .sidebar__vip {
        margin-bottom: 20px;
    }
}


