.sidebar {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 45px;

    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__loan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidebar__loan-sum {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 100%;

    display: flex;
    flex-direction: column;

}
.sidebar__loan-title{
    font-size: 18px;
}
.sidebar__loan-value {
    font-weight: 700;
    font-size: 36px;
}

.sidebar__loan-close {
    margin-top: 15px;
    text-decoration-line: underline;
}


@media (max-width: 1110px) {
    .sidebar {
        padding: 30px;
        width: 42%;
    }
}
@media (max-width: 768px) {
    .sidebar {
        grid-area: 1 / 1 / 7 / 12;
        padding: 90px 32px 40px;
        width: 100%;

    }

    .sidebar .logo {
        display: none;
    }
}


