@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}


.timer__info {
    display: flex;
    margin-bottom: 24px;
}

.timer__icon {
    margin-right: 12px;
}
.timer__icon img{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
.timer__icon.static img{
    -webkit-animation: unset;
    -moz-animation: unset;
    -ms-animation: unset;
    -o-animation: unset;
    animation: unset;
}

.timer__value {
    
    font-weight: 700;
    font-size: 50px;
}

.timer__title {
    font-weight: 700;
    font-size: 24px;
}

@media (max-width: 768px) {
    .timer {
        margin-bottom: 40px;
    } 
}


