@font-face {
    font-family: "PT Sans"; 
    src: url("../fonts/PT\ Sans/PTSans-Regular") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PT Sans"; 
    src: url("../fonts/PT\ Sans/PTSans-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 400; 
} 
@font-face {
    font-family: "PT Sans"; 
    src: url("../fonts/PT\ Sans/PTSans-BoldItalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 700; 
} 
@font-face {
    font-family: "PT Sans"; 
    src: url("../fonts/PT\ Sans/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 