@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT Sans/PTSans-Regular") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT Sans/PTSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT Sans/PTSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT Sans/PTSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/*normalize*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*normalize end*/
/*functions*/
/*functions end*/
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #313131;
}

h3 {
  text-transform: uppercase;
}

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
}

.logo.switch img:first-child {
  display: block;
}

.logo.switch img:last-child {
  display: none;
}

@media (max-width: 768px) {
  .logo.switch img:first-child {
    display: none;
  }

  .logo.switch img:last-child {
    display: block;
  }
}
.button {
  background: #313131;
  border-radius: 7px;
  color: #fff;
  padding: 23px 12px;
  min-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.32px;
  font-size: 18px;
}

.auth {
  width: 100%;
  height: 100%;
  background: url("../img/auth/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.auth .logo {
  margin-bottom: 40px;
}

.auth__panel {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 420px;
  max-width: 600px;
}

.auth__panel-title {
  font-weight: 700;
  font-size: 30px;
  color: #313131;
  margin-bottom: 20px;
}

.auth__panel-subtitle {
  font-size: 20px;
  color: #474747;
  margin-bottom: 40px;
  text-align: center;
}
.auth__panel-subtitle b {
  white-space: nowrap;
}

.auth__panel-input {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 36px;
  border-bottom: 1px solid #313131;
  font-size: 36px;
  max-width: 100%;
  text-align: center;
}

.auth__panel-input::placeholder {
  color: #BBB9B9;
}

.auth__panel-check {
  margin-top: 20px;
  display: flex;
}

.auth__panel-checkbox {
  margin-right: 10px;
}

.auth__panel-terms {
  color: #474747;
}

.auth__panel-terms a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth {
    background: #fff;
    padding-top: 0;
  }

  .auth .logo {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .auth__panel {
    width: 100%;
    min-width: 0;
    height: unset;
    box-shadow: none;
    border-radius: 0;
    padding: 0 32px 32px;
  }

  .auth__panel-title {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .auth__panel-subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .auth__panel-input {
    font-size: 28px;
  }

  .auth__panel-check {
    width: 110%;
    justify-content: center;
  }
}
